{% extends "frame.html" %}

{% block title %}
About us
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab">
		<h1>Hi there,</h1>
		<article class="blah">
			<p>Html5 is the future, as you may or may not have noticed.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, repellendus, perspiciatis, ratione, quibusdam temporibus quo fuga accusamus blanditiis necessitatibus minus numquam nostrum! Perferendis, itaque, libero quidem laboriosam recusandae temporibus voluptate voluptatum numquam nulla repudiandae pariatur officia natus minus ratione quae eligendi ab voluptatibus dolore dolorem reprehenderit possimus. Cupiditate, eligendi, harum.</p>

			<header>
				<h1>INFO30005 Project</h1>
				<h2>Group Members:</h2>
			</header>
			<ul>
				<li>James Johnstone</li>
				<li>Po Chen</li>
			</ul>
		</article>
	</div>
</div>
{% endblock content %}
