{% extends "frame.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab">
		<h1 id="error">{{error}}</h1>
	</div>
</div>
{% endblock content %}