<footer>
	<div id="footerWrap">
		<div class="d30">
			<h2>Links</h2>
			<ul>
				<li>Lorem ipsum dolor</li>
				<li>Lorem dolor</li>
				<li>Lorem ipsum </li>
				<li>Lorem ipsum </li>
				<li>Lorem ipsum dolor</li>
			</ul>
		</div>
		<div class="d40">
			<h1>Love HTML5</h1>
			<h1>Love Games</h1>
			<h1>Love HTML5 Games</h1>
		</div>
		<div class="d30 right">
			some other things
		</div>
	</div>
</footer>