{% extends "frame.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab">
		<form method="post" action="" id="generalForm" enctype="multipart/form-data">
			<table>
				{{form.as_table}}
				<tr><th></th><td><input type="submit" value="Submit"></td></tr>
			</table>
			{% csrf_token %}
			<script>
				(function($) {
					var $input = $('input');
					$('.helptext').hide();
					$input.focus(function(){
						$(this).next().next().fadeIn();
					}).blur(function(){
						$(this).next().next().slideUp();
					});
					$input.first().focus();
				})(jQuery);
			</script>
		</form>
	</div>
</div>
{% endblock content %}
