<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{title}}{% endblock title %}</title>
	<link rel="stylesheet" href="{{css|default:'/static/style.css'}}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	{% include "header.html" %}
	<div id="wrapper">
		<div id="container">
			{% block content %}
			{{content}}
			{% endblock content %}
		</div>
	</div>
	{% include "footer.html" %}
</body>
</html>