{% extends "frame.html" %}

{% block title %}
Games
{% endblock title %}

{% block content %}
{% include "searchBar.html" %}
{% include "page.html" %}
{% for game in games %}
<div class="gameFrame largeFrame">
	{% if game.inspection < 10 %}
	{% if game.inspection < 0 %}
	<div class="inspection x">
		<span>X</span>
	{% else %}
	<div class="inspection">
		<span>?</span>
	{% endif %}
	</div>
	{% endif %}
	<div class="game">
		<header>
			<a href="/game/g_{{game.id|stringformat:'08d'}}" title="{{game.title|capfirst}}">
				<h2>{{game.title|capfirst}}</h2>
			</a>
		</header>
		<a href="/game/g_{{game.id|stringformat:'08d'}}">
			<img class="icon" src="/media/g_{{game.id|stringformat:'08d'}}/protected/icon.png" alt="Game Icon">
		</a>
		<p class="author">created by <a class="subNav" href="user/u_{{game.developer.id|stringformat:'08d'}}">{{game.developer.username}}</a></p>
	</div>
	<script>
		$(".x").next(".game").css("opacity", "0.6");
	</script>
</div>
{% empty %}
<div class="tab main">
	<div class="innerTab space">
		<h1 class="title">There's no game here yet, go create one for it!</h1>
	</div>
</div>
{% endfor %}
{% endblock content %}
