<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game - {{game.title|capfirst}} - {{category}}</title>
	<link rel="stylesheet" href="/media/g_{{gameID}}/protected/{{gameID}}.css">
	<link rel="stylesheet" href="{{css|default:'/static/style.css'}}">
	<link rel="stylesheet" href="/static/social-likes.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
{% include "header.html" %}
<body>
	<div id="gameBox">
		{% block content %}
		{{content|safe}}
		{% endblock content %}
	</div>
	<script src="/media/g_{{gameID}}/protected/{{gameID}}.js"></script>
	<div id="commentBox" class="tab main">
		<div class="innerTab">
			<div class="description space">
				<header>
					<h4>Game Description</h4>
				</header>
				<pre>{{game.description}}</pre>
			</div>
			<div id="social">
				<script src="/static/social-likes.min.js"></script>
				<ul class="social-likes">
					<li class="facebook" title="Share link on Facebook">Facebook</li>
					<li class="twitter" title="Share link on Twitter">Twitter</li>
					<li class="plusone" title="Share link on Google+">Google+</li>
				</ul>
			</div>
			<div id="newComment">
				<input id="comment" name="comment" type="text" placeholder="Leave a comment?">
				{% csrf_token %}
				<a class="subNav" id="commentSubmit" href="#">Comment</a>
				<a class="subNav" href="/issue/g_{{gameID}}">Go to Issues</a>
			</div>
			<ul id="commentList">
			{% for comment in comments %}
				<li>
					<div class="comment">
						<div class="score">
							{{comment.votes|default_if_none:"0"}}
						</div>
						<div class="voting">
							<a href="#" class="vote" data-cid="{{comment.id}}" data-which="u">
								<img src="/static/up.png" alt="Up Vote">
							</a>
							<a href="#" class="vote" data-cid="{{comment.id}}" data-which="d">
								<img src="/static/down.png" alt="Down Vote">
							</a>
						</div>
						<header>
							<span class="author">
							{% if comment.user %}
								{{comment.user.username}}
							{% else %}
								Anonymous User
							{% endif %}
							</span> @ {{comment.creation|date:"H:i D d M Y"}}
						</header>
						<p>{{comment.content}}</p>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<script>
		var csrf = $("input[name=\"csrfmiddlewaretoken\"]").val(),
		    user = "{{user.username}}",
		    processing = false,
		    $comment = $("#comment"),
		    $commentSubmit = $("#commentSubmit"),
		    $commentList = $("#commentList");
		    $vote = $(".vote");
		function colorScores(){
	    $score = $(".score");
			$score.each(function(i, v){
				var $v = $(v);
				var s = $v.text();
				if(s > 0){
					$v.css("color", "orange");
				}
				if(s > 10){
					$v.css("color", "red");
				}
				if(s < 0){
					$($v.closest('.comment')[0]).css("opacity", "0.3");
				}
			});
		}
		colorScores();
		$commentSubmit.click(function(e){
			e.preventDefault();
			if(!processing){
				var content = $comment.val();
				if(content == ""){
					alert("Empty comment is not allowed");
					$comment.focus();
					return;
				}
				processing = true;
				$commentSubmit.text("processing..");
				$.post('/newcomment/g_{{gameID}}',
					{'content': content,
					'csrfmiddlewaretoken': csrf},
					function(data, textStatus, xhr){
						var elem, header, span;
						span = "<span class=\"author\">" + user + "</span> @ Just Now";
						header = "<header>" + span + "</header>";
						elem = "<div class=\"comment\">" + header + "<p>" + $comment.val()
							+ "</p>" + "</div>";
						$commentList.prepend("<li>" + elem + "</li>");
						$comment.val('');
						$commentSubmit.text("Comment");
						processing = false;
					}
				);
			}
		});
		var which, cid, $this;
		$vote.click(function(e){
			e.preventDefault();
			if(user == ""){
				window.location.href = "/login?next=" + window.location.href;
			}
			$this = $(this);
			which = $this.data('which');
			cid = $this.data('cid');
			$.post('/vote/' + cid + '/' + which, {'csrfmiddlewaretoken': csrf},
				function(data, textStatus, xhr) {
					alert(data.message);
				}
			);
		});
	</script>
	{% include "footer.html" %}
</body>
</html>