<header>
	<div id="headerWrap">
		{% if user.is_authenticated %}
		<a href="/user"><div class="nav" id="greetings">Welcome! {{user.username|title}}</div></a>
		{% else %}
		<a href="/register"><div class="nav" id="greetings">Welcome! Join us?!</div></a>
		{% endif %}
		<a href="/"><span id="brand">Html5 Game Hosting</span></a>
		<nav>
			<ul>
				{% if user.is_authenticated %}
				<a href="/logout"><li class="nav">Log out</li></a>
				{% else %}
				<a href="/login"><li class="nav">Login</li></a>
				{% endif %}
				<a href="/about"><li class="nav">About</li></a>
			</ul>
		</nav>
	</div>
</header>
