<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTML5 Game Hosting</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{css|default:'/static/style.css'}}">
</head>
<body>
	{% include "header.html" %}
	<div id="wrapper">
		<div id="container">
			<section id="slogan">
				<!--[if lt IE 9]>
					<h1>Hi. This site is all about HTML5 games. Unfortunately, we have detected that your browser does not support HTML5. In order to play these games, you will need to upgrade to a browser that supports HTML5. We recommend <a href="www.google.com/chrome".Google Chrome</a> or <a href="www.firefox.com">Mozilla firefox</a>. Aside from supporting the HTML5 required to use our website, they are also probably more secure than your current browser, and probably faster too!'</h1>
				<![endif]-->
				<h1>This is where <span class="em">HTML5 Games</span><br>
					start to <span class="em">ROCK!</span></h1>
			</section>
			<section id="home">
				<div id="dev" class="tab">
					<a href="/user">
						<div class="innerTab">
							<h1>Dev</h1>
							<img class="WB" src="/static/devWB.png" alt="Dev Icon">
							<img class="Color" src="/static/dev.png" alt="Dev Icon">
						</div>
					</a>
				</div>
				<div id="play" class="tab">
					<a href="/games">
						<div class="innerTab">
							<h1>Play</h1>
							<img class="WB" src="/static/playWB.png" alt="Play Icon">
							<img class="Color" src="/static/play.png" alt="Play Icon">
						</div>
					</a>
				</div>
				<div id="about" class="tab">
					<a href="/about">
						<div class="innerTab">
							<h1>About us</h1>
							<img class="WB" src="/static/aboutWB.png" alt="About Icon">
							<img class="Color" src="/static/about.png" alt="About Icon">
						</div>
					</a>
				</div>
			</section>
		</div>
	</div>
	<script>
		$(".innerTab").on("mouseover", function(){
			var $this = $(this);
			var $one = $this.find('.Color');
			if($one.css("display") == "none"){
				$one.fadeIn(800);
			}
		}).on("mouseleave", function(){
			var $this = $(this);
			var $one = $this.find('.Color');
			if($one.css("display") != "none"){
				$one.fadeOut(800);
			}
		});
	</script>
	{% include "footer.html" %}
</body>
</html>
