{% extends "frame.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab space">
		<table class="issueTable" >
			<tr class="issue">
				<td class="issueContent title">
					<h3>Issue Title</h3>
				</td>
				<td class="issueAuthor title">
					<h3>Reported By</h3>
				</td>
			</tr>
		{% for issue in content %}
			<tr class="issue{% if issue.resolved %} resolved{% endif %}">
				<td class="issueContent">
					<a href="/issue/g_{{gameID}}/{{issue.id}}/{{forloop.revcounter}}">
						<b class="title">#{{forloop.revcounter}}</b> : {{issue.title}}
					</a>
				</td>
				<td class="issueAuthor">
					{{issue.user.username}}
				</td>
			</tr>
		{% empty %}
			<tr class="issue">
				<td class="issueContent">
					Your game is great!
				</td>
				<td class="issueAuthor">
					Admin
				</td>
			</tr>
		{% endfor %}
		</table>
		<div>
			<a href="/newissue/g_{{gameID}}" class="subNav">Create Issue</a>
		</div>
	</div>
</div>
{% endblock content %}
