{% extends "frame.html" %}

{% block title %}
{{game.title|capfirst}} - issue #{{counter}}
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab space">
		<div class="issueDetail">
			{% if game.developer == user %}
			{% if issue.resolved == False %}
			<a id="resolve" class="subNav" href="issue/{{issue.id}}/resolve">
				Mark resolved
			</a>
			{% else %}
			<a id="resolve" class="subNav" href="issue/{{issue.id}}/resolve">
				Reopen Issue
			</a>
			{% endif %}
			{% endif %}
			<header>
				<h1>{{issue.title}}</h1>
				<h4>reported by : {{issue.user}}</h4>
			</header>
			<pre class="issueContent">{{issue.content}}</pre>
			<ul id="issueComments">
			{% for comment in comments %}
				<li class="issueComment">
					<header>
						<h4>{{comment.user}} @ {{comment.creation|date:"H:i D d M Y"}}</h4>
					</header>
					<article>
						{{comment.content}}
					</article>
				</li>
			{% endfor %}
			</ul>
			<div>
				<header><h2>Leave a comment:</h2></header>
				<textarea id="issueComment" cols="80" rows="6"></textarea>
				{% csrf_token %}
				<a class="subNav" id="submitComment" href="#">Comment</a>
			</div>
			<script>
				if(location.hash=="#new"){
					var $pos = $("#issueComment");
					$( 'html, body' ).animate( {
						scrollTop:  $pos.offset().top - 300
					}, 'slow' );
				}
				$("#resolve").click(function(e){
					e.preventDefault();
					$.get('/issue/{{issue.id}}/resolve', {},
						function(data, textStatus, xhr) {
							alert("Done!");
						}
					);
					setTimeout(function(){
						window.location.href = '/issue/g_{{game.id|stringformat:"08d"}}';
					}, 1500);
				})
				$("#submitComment").click(function(e){
					e.preventDefault();
					var comment = $("#issueComment").val();
					if(comment.length > 1200){
						alert("Your comment is more than 1200 characters, which is a little bit too long... You may want to try to split your comments into several small ones.");
						return;
					}
					var csrf = $("input[name=\"csrfmiddlewaretoken\"]").val();
					$.post('/issue/newcomment/{{issue.id}}',
						{'csrfmiddlewaretoken':csrf, 'content': comment},
						function(data, textStatus, xhr) {
							if(data.success){
								if(!location.hash){
									window.location.href += '#new';
								}
								window.location.reload(true);
							}else{
								alert(data.message);
							}
						}
					);
				});
			</script>
		</div>
	</div>
</div>
{% endblock content %}