{% extends "frame.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="tab main">
	<div class="innerTab">
		<form method="post" action="" id="generalForm" enctype="multipart/form-data">
			<table>
			{% for error in errors %}
				<tr><th></th><td class="errorlist">{{error}}</td></tr>
			{% endfor %}
				{{form.as_table}}
				<tr><th></th><td><input type="submit" value="Login"></td></tr>
				<tr><th></th><td style="text-align: center;">
					<a class="subNav" href="/register">Register</a>
				</td></tr>
			</table>
			{% csrf_token %}
			<script>
				(function($) {
					var $input = $('input');
					$input.first().focus();
				})(jQuery);
			</script>
		</form>
	</div>
</div>
{% endblock content %}
