<div id="page">
	<ul>
	{% for page in pages %}
	{% if current == page.0 %}
		<a href="{{page.1}}"><li class="current">{{page.0}}</li></a>
	{% else %}
		<a href="{{page.1}}"><li>{{page.0}}</li></a>
	{% endif %}
	{% endfor %}
	</ul>
</div>