<div id="searchBar">
  <form action="" method="get">
    <input type="text" name="q" placeholder="What would you like to play?">
    <input type="submit" value="Search">
  </form>
  <script>
  	$('input').first().focus();
  </script>
  <div id="filter">
	  <a href="/games" class="subNav">All</a>
	  {% for cate in categories %}
	  <a class="subNav" href="/games?category={{cate.name}}">
	  	{{cate.name|capfirst}}
	  </a>
	  {% endfor %}
	  <div id="toggle">↓</div>
	  <script>
	  	var toggle = $("#toggle"),
	  		  filter = $("#filter");
	  	var d = true;
	  	toggle.click(function(){
	  		if(d){
		  		filter.css("height", "78px");
		  		toggle.text("↑");
		  		d = !d;
	  		}else{
		  		filter.css("height", "40px");
		  		toggle.text("↓");
		  		d = !d;
	  		}
	  	});
	  </script>
  </div>
</div>
