{% extends "frame.html" %}

{% block title %}
{% if user.is_staff %}
Staff -
{% else %}
User -
{% endif %}
{{user.username}}
{% endblock title %}

{% block content %}

<div id="user" class="tab main">
	<div class="innerTab space">
	{% if games %}
		<h1>My Games</h1>
		{% include "page.html" %}
		{% for game in games %}
		<div class="gameFrame">
			<div class="game">
				<a href="/game/g_{{game.id|stringformat:'08d'}}" title="{{game.title|capfirst}}"><h2>{{game.title|capfirst}}</h2></a>
				<ul>
					<a href="/game/upload/g_{{game.id|stringformat:'08d'}}">
						<li class="subNav">Upload Assets</li>
					</a>
					<a href="/game/update/g_{{game.id|stringformat:'08d'}}">
						<li class="subNav">Update Game</li>
					</a>
					<a href="/issue/g_{{game.id|stringformat:'08d'}}">
						<li class="subNav">Track issues</li>
					</a>
				</ul>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h1>You haven't created any games yet</h1>
	{% endif %}
		<div id="newGame">
			<a class="subNav" href="/newgame">Go Create A New Game!</a>
			<a href="/static/template.zip" class="subNav">Download a template</a>
		</div>
		<div class="space">If you are having trouble creating new games, download the template and have a look!</div>
	</div>
</div>
{% endblock content %}
