/* stylesheet for html5 game hosting website */
/* author: Po Chen */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #eeeeff;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
}
body {
  background-color: #3388aa;
  overflow-x: hidden;
}
article {
  margin: auto;
  white-space: normal;
  word-break: normal;
}
label {
  color: #eeeeff;
}
body,
body > header,
body > footer {
  margin: 0 !important;
}
#wrapper {
  position: relative;
  width: 80%;
  min-width: 800px;
  margin: 10px auto 0;
  background-color: #eeeeee;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
body > header {
  width: 100%;
  min-width: 800px;
  background-color: #333333;
  padding: 10px;
  box-shadow: 0 2px 3px #555555;
}
body > header nav {
  position: absolute;
  top: 0;
  right: 5%;
}
body > header li {
  position: relative;
  display: inline-block;
  color: #eeeeff;
}
.nav,
.subNav {
  padding: 0.5rem 15px;
  border-radius: 8px;
}
.nav {
  transition: background-color 0.7s ease;
}
.nav:hover {
  color: #3388aa;
  background-color: #222222;
  box-shadow: 0 0 1px 1px #222222;
}
#headerWrap {
  position: relative;
  width: 80%;
  height: 2.4rem;
  margin: auto;
  color: #eeeeff;
  text-align: center;
}
#greetings {
  position: absolute;
  left: 0;
}
#brand {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media screen and (max-width: 1000px) {
  #brand {
    font-size: 1rem;
  }
}
#quickLogin {
  display: none;
}
body > footer {
  width: 100%;
  min-width: 800px;
  background-color: #333333;
  color: #eeeeff;
  box-shadow: 0 5px 2px 2px #333333;
  overflow: hidden;
}
#footerWrap {
  width: 70%;
  margin: 80px auto;
}
#footerWrap li {
  margin-top: 10px;
}
@keyframes sss {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  20% {
    transform: rotate3d(0, 1, 0, 30deg) translate3d(80px, 0, 0);
  }
  40% {
    transform: rotate3d(1, 0, 0, -35deg) translate3d(0, 0, 100px);
  }
  60% {
    transform: rotate3d(0, 1, 0, -30deg) translate3d(-80px, 0, 0);
  }
  80% {
    transform: rotate3d(1, 0, 0, 35deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
#slogan {
  -webkit-transform-style: preserve- 3 d;
  -moz-transform-style: preserve- 3 d;
  -ms-transform-style: preserve- 3 d;
  transform-style: preserve- 3 d;
  animation-duration: 5s;
  -webkit-animation-name: sss;
  -moz-animation-name: sss;
  -ms-animation-name: sss;
  -o-animation-name: sss;
  animation-name: sss;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: #333333;
  padding: 30px 0;
}
.em {
  font-size: 3rem;
}
#container {
  perspective: 3000px;
  position: relative;
  overflow: hidden;
}
#home {
  position: relative;
  height: 480px;
}
.tab {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #333333;
  max-width: 700px;
  transition: height 0.3s ease;
}
.tab:hover {
  box-shadow: 0px 0px 10px black;
}
#dev,
#play,
#about {
  position: absolute;
  bottom: 0px;
}
#dev {
  width: 25%;
  height: 300px;
  left: 5%;
}
#dev:hover {
  height: 320px;
}
#play {
  width: 30%;
  height: 400px;
  left: 35%;
}
#play:hover {
  height: 420px;
}
#about {
  width: 25%;
  height: 200px;
  right: 5%;
}
#about:hover {
  height: 220px;
}
.WB,
.Color {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 50%;
  margin-left: -64px;
}
.Color {
  display: none;
}
.blah {
  width: 400px;
}
.blah p {
  margin-top: 20px;
}
.innerTab {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}
.innerTab:before,
.innerTab:after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -1px;
}
.innerTab:before {
  left: -24px;
  border-bottom-right-radius: 25px;
  border-width: 0 1px 1px 0;
  box-shadow: 7px 7px 0 #333333;
}
.innerTab:after {
  right: -24px;
  border-bottom-left-radius: 25px;
  border-width: 0 0 1px 1px;
  box-shadow: -7px 7px 0 #333333;
}
.innerTab h1 {
  padding: 20px;
}
.main {
  margin: 100px auto 0;
  color: #eeeeff;
}
#generalForm {
  margin: auto;
  width: 600px;
}
table,
tbody,
tr,
th,
td {
  transition: all 1s linear;
}
table {
  padding: 100px 0;
}
th {
  width: 150px;
  vertical-align: top;
}
td {
  position: relative;
  vertical-align: top;
  text-align: left;
  padding-bottom: 20px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 1px 1px #55aaff;
}
input[type="submit"] {
  width: 100%;
  max-width: 150px;
}
.errorlist {
  color: #ff3333;
}
#error {
  padding: 200px;
  color: #dd0000;
}
.helptext {
  display: block;
  width: 400px;
  margin: 20px 0;
  padding: 3px;
  border: 2px solid #3388aa;
}
.d30,
.d40 {
  float: left;
  min-height: 300px;
}
.d30 {
  width: 30%;
}
.d40 {
  width: 40%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.space {
  padding: 30px 0 40px;
}
#newGame {
  clear: both;
}
.gameFrame {
  position: relative;
  float: left;
  height: 250px;
  width: 25%;
  margin: 15px 0;
}
.game {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  color: #eeeeff;
  background-color: rgba(0, 44, 61, 0.8);
  border-radius: 15px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
  text-align: center;
}
.game:hover {
  color: #333333;
  background-color: #55aaff;
  box-shadow: 0 0 5px #333333;
}
.game h2 {
  text-align: left;
  color: #eeeeff;
  transition: color 0.3s ease-in-out;
}
.game h2:hover {
  color: #002c3d;
}
.game .icon {
  margin-top: 10px;
  width: 140px;
  height: 140px;
}
.game .author {
  position: absolute;
  bottom: 12px;
}
.inspection {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  background-color: yellow;
  box-shadow: 0 0 5px 1px #333333;
  color: #333333;
  font-weight: bold;
  font-size: 1.5rem;
  right: 15px;
  top: -5px;
  z-index: 100;
}
.x {
  background-color: red;
}
#searchBar {
  background-color: #333333;
  width: 510px;
  margin: 10px auto;
  padding: 30px 20px;
  border-radius: 15px;
}
#searchBar input {
  height: 30px;
}
#searchBar input[type="text"] {
  width: 400px;
}
#searchBar input[type="submit"] {
  width: 100px;
}
#filter {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  height: 40px;
  transition: height 0.5s ease;
}
#filter .subNav {
  float: left;
  margin: 1px 2px;
}
#toggle {
  position: absolute;
  color: #eeeeff;
  padding: 10px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.subNav {
  background-color: #eeeeff;
  color: #333333;
  transition: all 0.3s ease;
  border: 1px solid #eeeeff;
}
.subNav:hover {
  background-color: #333333;
  color: #eeeeff;
  border: 1px solid #eeeeff;
}
#user .subNav {
  margin-top: 20px;
}
#user .gameFrame {
  height: 200px;
}
#user .game {
  background-color: #3388aa;
}
#user #page {
  border: 1px solid #eeeeff;
  transition: box-shadow 0.3s ease;
}
#user #page:hover {
  box-shadow: 0 0 5px 1px #eeeeff;
}
#user #page li:not(.current):hover {
  background-color: #bbbbbb;
  color: #3388aa;
}
.game .subNav {
  padding: 2px 5px;
}
.game h1,
.game h2 {
  white-space: nowrap;
}
@media screen and (max-width: 1000px) {
  .largeFrame {
    width: 40%;
    margin: 15px 5%;
  }
  .largeFrame .subNav {
    padding: 1px;
  }
}
#page {
  position: relative;
  width: 240px;
  margin: 0 auto;
  padding: 10px;
  transition: border 0.4s ease;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
}
#page:hover {
  border: 1px solid #333333;
}
#page li {
  display: inline-block;
  padding: 2px;
  background-color: #bbbbbb;
  border-radius: 3px;
  color: #eeeeff;
  transition: background-color 0.3s ease;
}
#page li:not(.current):hover {
  background-color: #333333;
}
#page .current {
  background-color: #3388aa;
}
#gameBox {
  margin: auto;
  min-width: 600px;
}
#social {
  padding-top: 20px;
}
#commentBox {
  margin-top: 20px;
}
#newComment {
  width: 600px;
  height: 40px;
  padding: 10px 50px;
}
#comment {
  height: 32px;
  width: 300px;
}
#commentList {
  background-color: #333333;
  min-height: 50px;
  padding: 0 0 20px;
  width: 100%;
}
#commentList li {
  display: block;
  width: 600px;
  margin: auto;
  color: #333333;
  text-align: left;
}
.comment {
  position: relative;
  width: 85%;
  padding: 10px 7% 10px 8%;
  border-radius: 5px;
  background-color: #eeeeff;
  margin-top: 10px;
}
.comment p {
  margin-top: 10px;
  word-break: break-all;
}
.comment .author {
  color: #3388aa;
}
.score {
  position: absolute;
  left: 5px;
  top: 12px;
  font-size: 0.7rem;
  color: #002c3d;
}
.voting {
  position: absolute;
  right: 2px;
  top: 10px;
}
.voting img {
  width: 20px;
  height: 20px;
}
.voting a {
  display: block;
}
.issueTable {
  border: none;
  border-radius: 15px;
  padding: 20px 15px;
}
.issue {
  height: 40px;
}
.issueContent,
.issueAuthor {
  background-color: #666666;
  vertical-align: middle;
  padding-bottom: 0;
}
.issueContent {
  width: 470px;
  padding-left: 10px;
  text-align: left;
}
.issueAuthor {
  width: 200px;
  text-align: center;
}
.title {
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #55aaff;
}
.issueDetail {
  position: relative;
}
.issueDetail .issueContent,
.issueDetail .issueComment {
  width: 80%;
  margin: 20px auto;
  padding: 30px 5%;
  border-radius: 5px;
}
#issueComment {
  resize: vertical;
}
.issueComment {
  background-color: #666666;
  text-align: left;
}
.issueComment header {
  color: #55aaff;
  margin-top: -10px;
}
.issueComment:nth-child(odd) {
  background-color: #bbbbbb;
  color: #333333;
}
.issueComment:nth-child(odd) header {
  color: #3388aa;
}
.resolved {
  opacity: 0.5;
}
#resolve {
  position: absolute;
  top: 10px;
  right: 35px;
}
