/* stylesheet for html5 game hosting website */
/* author: Po Chen */

@dark: #333;
@dblue: rgba(0,44,61,1);
@dbluet: rgba(0,44,61,0.8);
@grey: #666;
@light: #eef;
@bgc: #eee;
@bgcd: #bbb;
@hll: #5af;
@hld: rgba(51,136,170,1);
@growUp: 20px;

.clearfix(){
	content: "";
	display: block;
	clear: both;
}

.roundTop(@rad:10px){
	border-top-left-radius: @rad;
	border-top-right-radius: @rad;
}

.ball(@size: 20px){
	width: @size;
	height: @size;
	line-height: @size;
	border-radius: @size;
	text-align: center;
}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a{
	text-decoration: none;
	color: @light;
}

li{
	list-style: none;
}

h1{
	text-align: center;
}

body{
	background-color: @hld;
	overflow-x: hidden;
}

article{
	margin: auto;
	white-space: normal;
	word-break: normal;
}

label{
	color: @light;
}

body, body > header, body > footer{
	margin: 0 !important;
}

#wrapper{
	position: relative;
	width: 80%;
	min-width: 800px;
	margin: 10px auto 0;
	background-color: @bgc;
	overflow: hidden;
	.roundTop(50px);
}

body > header{
	width: 100%;
	min-width: 800px;
	background-color: @dark;
	padding: 10px;
	box-shadow: 0 2px 3px #555;

	nav{
		position: absolute;
		top: 0;
		right: 5%;
	}

	li{
		position: relative;
		display: inline-block;
		color: @light;
	}
}

.nav, .subNav{
	padding: 0.5rem 15px;
	border-radius: 8px;
}

.nav{
	transition: background-color 0.7s ease;

	&:hover{
		color: @hld;
		background-color: #222;
		box-shadow: 0 0 1px 1px #222;
	}
}

#headerWrap{
	position: relative;
	width: 80%;
	height: 2.4rem;
	margin: auto;
	color: @light;
	text-align: center;
}

#greetings{
	position: absolute;
	left: 0;
}

#brand{
	font-weight: bold;
	font-size: 2rem;
	line-height: 2.4rem;
}

@media screen and (max-width: 1000px){
	#brand{
		font-size: 1rem;
	}
}

#quickLogin{
	display: none;
}

body > footer{
	width: 100%;
	min-width: 800px;
	background-color: @dark;
	color: @light;
	box-shadow: 0 5px 2px 2px @dark;
	overflow: hidden;
}

#footerWrap{
	width: 70%;
	margin: 80px auto;

	li{
		margin-top: 10px;
	}
}

@keyframes sss{
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
	20% {
		transform: rotate3d(0, 1, 0, 30deg) translate3d(80px, 0, 0);
	}
	40%{
		transform: rotate3d(1, 0, 0, -35deg) translate3d(0, 0, 100px);
	}
	60% {
		transform: rotate3d(0, 1, 0, -30deg) translate3d(-80px, 0, 0);
	}
	80% {
		transform: rotate3d(1, 0, 0, 35deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate3d(0, 0, 0, 0deg);
	}
}

#slogan{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	animation-duration: 5s;
	-webkit-animation-name: sss;
	-moz-animation-name: sss;
	-ms-animation-name: sss;
	-o-animation-name: sss;
	animation-name: sss;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	color: @dark;
	padding: 30px 0;
}

.em{
	font-size: 3rem;
}

#container{
	perspective: 3000px;
	position: relative;
	overflow: hidden;
}

#home{
	position: relative;
	height: 480px;
}

.tab{
	.roundTop(20px);
	background-color: @dark;
	max-width: 700px;
	transition: height 0.3s ease;

	&:hover{
		box-shadow: 0px 0px 10px #000;
	}
}

#dev, #play, #about{
	position: absolute;
	bottom: 0px;
}

#dev{
	width: 25%;
	height: 300px;
	left: 5%;

	&:hover{
		height: (300px+@growUp);
	}
}
#play{
	width: 30%;
	height: 400px;
	left: 35%;

	&:hover{
		height: (400px+@growUp);
	}
}
#about{
	width: 25%;
	height: 200px;
	right: 5%;

	&:hover{
		height: (200px+@growUp);
	}
}

.WB, .Color{
	position: absolute;
	width: 128px;
	height: 128px;
	left: 50%;
	margin-left: -64px;
}

.Color{
	display: none;
}

.blah{
	width: 400px;

	p{
		margin-top: 20px;
	}
}

.innerTab{
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;

	&:before, &:after{
		content: " ";
		position: absolute;
		width: 25px;
		height: 25px;
		bottom: -1px;
	}

	&:before{
		left: -24px;
		border-bottom-right-radius: 25px;
    border-width: 0 1px 1px 0;
    box-shadow: 7px 7px 0 @dark;
	}
	&:after{
		right: -24px;
		border-bottom-left-radius: 25px;
    border-width: 0 0 1px 1px;
    box-shadow: -7px 7px 0 @dark;
	}

	h1{
		padding: 20px;
	}
}

.main{
	margin: 100px auto 0;
	color: @light;
}

#generalForm{
	margin: auto;
	width: 600px;
}

table, tbody, tr, th, td{
	transition: all 1s linear;
}

table{
	padding: 100px 0;
}

th{
	width: 150px;
	vertical-align: top;
}

td{
	position: relative;
	vertical-align: top;
	text-align: left;
	padding-bottom: 20px;
}

input:focus, textarea:focus{
	box-shadow: 0 0 1px 1px @hll;
}

input[type="submit"]{
	width: 100%;
	max-width: 150px;
}

.errorlist{
	color: #f33;
}

#error{
	padding: 200px;
	color: #d00;
}

.helptext{
	display: block;
	width: 400px;
	margin: 20px 0;
	padding: 3px;
	border: 2px solid @hld;
}

.d30, .d40{
	float: left;
	min-height: 300px;
}

.d30{
	width: 30%;
}

.d40{
	width: 40%;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.space{
	padding: 30px 0 40px;
}

#newGame{
	clear: both;
}

.gameFrame{
	position: relative;
	float: left;
	height: 250px;
	width: 25%;
	margin: 15px 0;
}

.game{
	position: absolute;
	padding: 10px;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	color: @light;
	background-color: @dbluet;
	border-radius: 15px;
	transition: box-shadow 0.3s ease,
						  background-color 0.3s ease,
						  color 0.3s ease;
	overflow: hidden;
	text-align: center;

	&:hover{
		color: @dark;
		background-color: @hll;
		box-shadow: 0 0 5px @dark;
	}

	h2{
		text-align: left;
		color: @light;
		transition: color 0.3s ease-in-out;

		&:hover{
			color: @dblue;
		}
	}

	.icon{
		margin-top: 10px;
		width: 140px;
		height: 140px;
	}

	.author{
		position: absolute;
		bottom: 12px;
	}
}

.inspection{
	.ball(40px);
	position: absolute;
	background-color: #ff0;
	box-shadow: 0 0 5px 1px @dark;
	color: @dark;
	font-weight: bold;
	font-size: 1.5rem;
	right: 15px;
	top: -5px;
	z-index: 100;
}

.x{
	background-color: #f00;
}

#searchBar{
	background-color: #333;
	width: 510px;
	margin: 10px auto;
	padding: 30px 20px;
	border-radius: 15px;

	input{
		height: 30px;
	}

	input[type="text"]{
		width: 400px;
	}

	input[type="submit"]{
		width: 100px;
	}
}

#filter{
	position: relative;
	margin-top: 20px;
	overflow: hidden;
	height: 40px;
	transition: height 0.5s ease;

	.subNav{
		float: left;
		margin: 1px 2px;
	}
}

#toggle{
	position: absolute;
	color: @light;
	padding: 10px;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.subNav{
	background-color: @light;
	color: @dark;
	transition: all 0.3s ease;
	border: 1px solid @light;

	&:hover{
		background-color: @dark;
		color: @light;
		border: 1px solid @light;
	}
}

#user{
	.subNav{
		margin-top: 20px;
	}

	.gameFrame{
		height: 200px;
	}

	.game{
		background-color: @hld;
	}

	#page{
		border: 1px solid @light;
		transition: box-shadow 0.3s ease;

		&:hover{
			box-shadow: 0 0 5px 1px @light;
		}

		li:not(.current):hover{
			background-color: @bgcd;
			color: @hld;
		}
	}
}

.game{
	.subNav{
		padding: 2px 5px;
	}

	h1, h2{
		white-space: nowrap;
	}
}

@media screen and (max-width: 1000px){
	.largeFrame{
		width: 40%;
		margin: 15px 5%;

		.subNav{
			padding: 1px;
		}
	}
}

#page{
	position: relative;
	width: 240px;
	margin: 0 auto;
	padding: 10px;
	transition: border 0.4s ease;
	border: 1px solid @bgcd;
	border-radius: 8px;

	&:hover{
		border: 1px solid @dark;
	}

	li{
		display: inline-block;
		padding: 2px;
		background-color: @bgcd;
		border-radius: 3px;
		color: @light;
		transition: background-color 0.3s ease;

		&:not(.current):hover{
			background-color: @dark;
		}
	}

	.current{
		background-color: @hld;
	}
}

#gameBox{
	margin: auto;
	min-width: 600px;
}

#social{
	padding-top: 20px;
}

#commentBox{
	margin-top: 20px;
}

#newComment{
	width: 600px;
	height: 40px;
	padding: 10px 50px;
}

#comment{
	height: 32px;
	width: 300px;
}

#commentList{
	background-color: @dark;
	min-height: 50px;
	padding: 0 0 20px;
	width: 100%;

	li{
		display: block;
		width: 600px;
		margin: auto;
		color: @dark;
		text-align: left;
	}
}

.comment{
	position: relative;
	width: 85%;
	padding: 10px 7% 10px 8%;
	border-radius: 5px;
	background-color: @light;
	margin-top: 10px;

	p{
		margin-top: 10px;
		word-break: break-all;
	}
	.author{
		color: @hld;
	}
}

.score{
	position: absolute;
	left: 5px;
	top: 12px;
	font-size: 0.7rem;
	color: @dblue;
}

.voting{
	position: absolute;
	right: 2px;
	top: 10px;

	img{
		width: 20px;
		height: 20px;
	}

	a{
		display: block;
	}
}

.issueTable{
	border: none;
  border-radius: 15px;
  padding: 20px 15px;
}

.issue{
	height: 40px;
}

.issueContent, .issueAuthor{
	background-color: @grey;
	vertical-align: middle;
	padding-bottom: 0;
}

.issueContent{
  width: 470px;
	padding-left: 10px;
  text-align: left;
}

.issueAuthor{
  width: 200px;
  text-align: center;
}

.title{
	text-align: center;
	.roundTop(15px);
	color: @hll;
}

.issueDetail{
	position: relative;

	.issueContent, .issueComment{
		width: 80%;
		margin: 20px auto;
		padding: 30px 5%;
		border-radius: 5px;
	}
}

#issueComment{
	resize: vertical;
}

.issueComment{
	background-color: @grey;
	text-align: left;

	header{
		color: @hll;
		margin-top: -10px;
	}
}

.issueComment:nth-child(odd){
	background-color: @bgcd;
	color: @dark;

	header{
		color: @hld;
	}
}

.resolved{
	opacity: 0.5;
}

#resolve{
	position: absolute;
	top: 10px;
	right: 35px;
}
